body {
  background-color: rgb(47, 68, 87) !important;
}
.hero-body{

  background-color: rgb(92,225,230);

}
.hero.is-warning{
  background-color: rgb(92,225,230);
  align-items: center;
}
.hero-body{
  padding: 10px;
  padding-bottom: 20px;
}

.weatherHeader {
border: 2px solid;
justify-content: center;
text-align: center;
height: 20%;
}
.icons {
border: 2px solid;
text-align: center;
height: 20%;
}
.weatherList {
border: 2px solid;
height: 60%;
}
.column { 
  margin: 50px;
}
.columns {
  justify-content: center;
}
.weatherCard {
  margin-top: 100px;
  height: 50vh;
  width: 40vw;
}
.musicCard {
  margin-top: 100px;
  height: 50vh;
  width: 40vw;
}
.logo{
height: 275px;
width: 400px;
align-items:center;
object-fit: none;
justify-content: center;
  
}

